<h1>Hello rails, please welcome me! </h1>

hehe

<%= link_to "New post", new_post_path%>
<div class="post_class">
  <% @posts.each do |post| %>  
    <h2><%= link_to post.title, post_path(post) %></h2> 
  <% end %>
</div>

<div class = "comment_class">
  <h3>Recent Comments</h3>
  <% @comments.each do |comment| %>  
    <h2><%= link_to comment.body, post_path(comment.post_id) %></h2>
  <% end %>
</div>


